
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600&display=swap');
body{
    background-color: rgb(246, 241, 235);
    min-width: 1000px;
    max-width: 1920px;
    margin:0px auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid #c6b5b5;
}
.logo {
text-align: center;
align-items: center;
}
.nav-left {
text-align: right;
}
header span{
    display: inline-block;
}
.logo img{
    display: inline-block;
    height: 40px;
    width: auto;
}
header ul{
    list-style: none;
    display: flex;
}
.title{
    display: flex;
    list-style: none;
    text-align: left;
}
.title a{
    color: rgb(117, 105, 105);
    display: inline-block;
    margin: 1rem;     
    margin-left: 10px;     
    margin-right: 10px;  
    text-decoration: none;

}
.title a:hover{
    text-decoration: underline;
    color: #251a1a;
}
.sub-menu{
    position: absolute;
    top: 45px;
    left: 0px;
    list-style: none;
}
.sub-menu a{
    margin: 1px;
    padding: 8px;
    width: 140px;
    background: #665353;
    color: rgb(246, 241, 235);
    border-radius: 4px;
}
.sub-menu :hover{
    background-color: rgb(246, 241, 235);
}
.has-menu{
    position: relative;
}
.has-menu > a::after{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    content: "∨";
    margin-left: .5rem;
}
.has-menu .sub-menu{
    display: none;
}
.has-menu:hover .sub-menu{
    display: block;
}
.nav-left {
    display: flex; /* flex로 지정 */
    justify-content: flex-end; /* 오른쪽 정렬 */  
    right: 0;
    width: 345px;
}
.nav-left a{
    text-align: right;
    color: rgb(117, 105, 105);
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 30px;     
    margin-right: 40px;  
    text-decoration: none;
}
.nav-left :hover{
    text-decoration: underline;
    color: #251a1a;
}


body h1{
    margin-top: 100px;
    text-align: center;
    font-size: 100px;
    color: #251a1a;
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body h2{
    margin-top: -65px;
    margin-bottom: 200px;
    text-align: center;
    font-size: 40px;
    color: #665353;
    font-weight: lighter;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
ul{
    list-style-type: none;
}
#card{
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 130px;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#card .item{
    margin-left: 20px;
    margin-right: 20px;
    padding: 0;
    float: left;
    text-align: center;
    border: #aea4a4 2px solid;
    border-radius: 6px;
    width: 350px;
    height: 180px;
    margin-bottom: 123px;
    margin-top: -110px;
}
#card .item:hover {
    background-color: #aea4a4;
    color: #fff;
}

#card .subject{
    margin-top: 26px;
    font-size: 30px;
    font-weight: bold;
    color: crimson;
}
#card .comment{
    margin-top: 16px;
    font-size: 20px;
    color: #888888;
}
#card .price{
    margin-top: 30px;
    color: #b5b4b4;
    font-weight: lighter;
    font-size: 16px;
}
#content2{
    margin-bottom: 200px;

}

input[id="popup"]{
    display: none;
    cursor: pointer;
    text-align: center;
}
input[id="popup"] + label{
    display: inline-block;
    padding: 6px 20px;
    background-color: crimson;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;

}
input[id="popup"]:hover + label {
    background-color: rgb(152, 34, 57);
}
input[id="popup"]+label+#pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;

}
input[id="popup"] + label + #pop>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    height: 200px;
    background: #fff;
    z-index: 2;
    cursor: pointer;
    border-radius: 8px;
    font-family: 'Open Sans', sans-serif;

}
input[id="popup"] + label + #pop>div>label{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    padding: 20px;
    background-color: #dd5347;
    border-radius: 100%;
    z-index: 1;
    cursor: pointer;

}
input[id="popup"] + label + #pop>label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
}
input[id*="popup"]+label + div{
    display: none;
}
input[id*="popup"]:checked + label + #pop{
    display: block;
}
#pop>div{
    padding: 60px;
    font-size: 20px;
    text-align: center;
    color: #251a1a;
    font-family: 'Black Han Sans', sans-serif;
}
#pop>div>span{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 30px;
}
#pop{
    font-family: 'Nanum Gothic';
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;
}



input[id="popup2"]{
    display: none;
    cursor: pointer;
    text-align: center;
}
input[id="popup2"] + label{
    display: inline-block;
    padding: 6px 20px;
    background-color: crimson;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
input[id="popup2"]:hover + label {
    background-color: rgb(152, 34, 57);
}
input[id="popup2"]+label+#pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;

}
input[id="popup2"] + label + #pop>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    height: 200px;
    background: #fff;
    z-index: 2;
    cursor: pointer;
    border-radius: 8px;

}
input[id="popup2"] + label + #pop>div>label{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    padding: 20px;
    background-color: #dd5347;
    border-radius: 100%;
    z-index: 1;
    cursor: pointer;

}
input[id="popup2"] + label + #pop>label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
}
input[id*="popup2"]+label + div{
    display: none;
}
input[id*="popup2"]:checked + label + #pop{
    display: block;
}


input[id="popup3"]{
    display: none;
    cursor: pointer;
    text-align: center;
}
input[id="popup3"] + label{
    display: inline-block;
    padding: 6px 20px;
    background-color: crimson;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
input[id="popup3"]:hover + label {
    background-color: rgb(152, 34, 57);
}
input[id="popup3"]+label+#pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;

}
input[id="popup3"] + label + #pop>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    height: 200px;
    background: #fff;
    z-index: 2;
    cursor: pointer;
    border-radius: 8px;


}
input[id="popup3"] + label + #pop>div>label{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    padding: 20px;
    background-color: #dd5347;
    border-radius: 100%;
    z-index: 1;
    cursor: pointer;

}
input[id="popup3"] + label + #pop>label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
}
input[id*="popup3"]+label + div{
    display: none;
}
input[id*="popup3"]:checked + label + #pop{
    display: block;
}


input[id="popup4"]{
    display: none;
    cursor: pointer;
    text-align: center;
}
input[id="popup4"] + label{
    display: inline-block;
    padding: 6px 20px;
    background-color: crimson;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
input[id="popup4"]:hover + label {
    background-color: rgb(152, 34, 57);
}
input[id="popup4"]+label+#pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;

}
input[id="popup4"] + label + #pop>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    height: 200px;
    background: #fff;
    z-index: 2;
    cursor: pointer;
    border-radius: 8px;


}
input[id="popup4"] + label + #pop>div>label{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    padding: 20px;
    background-color: #dd5347;
    border-radius: 100%;
    z-index: 1;
    cursor: pointer;

}
input[id="popup4"] + label + #pop>label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
}
input[id*="popup4"]+label + div{
    display: none;
}
input[id*="popup4"]:checked + label + #pop{
    display: block;
}

input[id="popup5"]{
    display: none;
    cursor: pointer;
    text-align: center;
}
input[id="popup5"] + label{
    display: inline-block;
    padding: 6px 20px;
    background-color: crimson;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
input[id="popup5"]:hover + label {
    background-color: rgb(152, 34, 57);
}
input[id="popup5"]+label+#pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;

}
input[id="popup5"] + label + #pop>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    height: 200px;
    background: #fff;
    z-index: 2;
    cursor: pointer;
    border-radius: 8px;


}
input[id="popup5"] + label + #pop>div>label{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    padding: 20px;
    background-color: #dd5347;
    border-radius: 100%;
    z-index: 1;
    cursor: pointer;

}
input[id="popup5"] + label + #pop>label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
}
input[id*="popup5"]+label + div{
    display: none;
}
input[id*="popup5"]:checked + label + #pop{
    display: block;
}

input[id="popup6"]{
    display: none;
    cursor: pointer;
    text-align: center;
}
input[id="popup6"] + label{
    display: inline-block;
    padding: 6px 20px;
    background-color: crimson;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
input[id="popup6"]:hover + label {
    background-color: rgb(152, 34, 57);
}
input[id="popup6"]+label+#pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;

}
input[id="popup6"] + label + #pop>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    height: 200px;
    background: #fff;
    z-index: 2;
    cursor: pointer;
    border-radius: 8px;


}
input[id="popup6"] + label + #pop>div>label{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    padding: 20px;
    background-color: #dd5347;
    border-radius: 100%;
    z-index: 1;
    cursor: pointer;

}
input[id="popup6"] + label + #pop>label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
}
input[id*="popup6"]+label + div{
    display: none;
}
input[id*="popup6"]:checked + label + #pop{
    display: block;
}

input[id="popup7"]{
    display: none;
    cursor: pointer;
    text-align: center;
}
input[id="popup7"] + label{
    display: inline-block;
    padding: 6px 20px;
    background-color: crimson;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
input[id="popup7"]:hover + label {
    background-color: rgb(152, 34, 57);
}
input[id="popup7"]+label+#pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;

}
input[id="popup7"] + label + #pop>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    height: 200px;
    background: #fff;
    z-index: 2;
    cursor: pointer;
    border-radius: 8px;


}
input[id="popup7"] + label + #pop>div>label{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    padding: 20px;
    background-color: #dd5347;
    border-radius: 100%;
    z-index: 1;
    cursor: pointer;

}
input[id="popup7"] + label + #pop>label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
}
input[id*="popup7"]+label + div{
    display: none;
}
input[id*="popup7"]:checked + label + #pop{
    display: block;
}

input[id="popup8"]{
    display: none;
    cursor: pointer;
    text-align: center;
}
input[id="popup8"] + label{
    display: inline-block;
    padding: 6px 20px;
    background-color: crimson;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
}
input[id="popup8"]:hover + label {
    background-color: rgb(152, 34, 57);
}
input[id="popup8"]+label+#pop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    cursor: pointer;

}
input[id="popup8"] + label + #pop>div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    height: 200px;
    background: #fff;
    z-index: 2;
    cursor: pointer;
    border-radius: 8px;


}
input[id="popup8"] + label + #pop>div>label{
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    padding: 20px;
    background-color: #dd5347;
    border-radius: 100%;
    z-index: 1;
    cursor: pointer;

}
input[id="popup8"] + label + #pop>label{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.9);
    z-index: 1;
}
input[id*="popup8"]+label + div{
    display: none;
}
input[id*="popup8"]:checked + label + #pop{
    display: block;
}




footer{
    background-color: #877272;
    color:lightgray;
    padding:20px;
    margin: 0px;
    height: 150px;
    clear:both;
}
#footer_left>ul{
    display: flex;
    padding: 0px;
}
#footer_left>ul>li{
    list-style: none;
    padding: 0px 10px;
    border-right: solid 1px lightgray;
}
#footer_left>ul>li:last-child{
    border: none;
}
#footer_right{
    margin-left: auto;
}
#footer_right>ul{
    display: flex;
}
#footer_right>ul>li{
    list-style: none;
    padding: 0px 5px;
}
footer{
    display: flex;
}

